<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqrc02MmNx-bWjTyzQiof1Ban8DpVwvdk</string>
	<key>GCM_SENDER_ID</key>
	<string>103772540037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sguerrero91.Crypto-iOS</string>
	<key>PROJECT_ID</key>
	<string>crypto-mobile-2025-23055</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-mobile-2025-23055.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103772540037:ios:be2a343f9674d794232dec</string>
</dict>
</plist>